h1 {
  background-color: #ec8996;
  color: white;
}
h2 {
  background-color: rgb(219, 214, 214);
  color: #f13cca;
}

.A {
  background-color: #f56ea2;
}

h3 {
  background-color: #f5f53d;
}

section{
   
   /* (lisst-style:none) age list dashte bashim va bekhaim noghtehaye ghablesh ro hazf konim azin dastoor stefade mkoni*/
   
    background-color:#5dceeb;
}

.b{
    color: #60dfdf;
}
/* to make changes in contact-html */
#contact{
  background-color:white;
  color: black;
}
.new{
  background-color: white;
  color:  fuchsia;;
}
h3+p:hover{
  background-color: rgb(229, 128, 128);
}